#stuff {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

#stuff li {
  list-style: none;
  position: relative;
  background: white;
  border: 1px solid #aaa;
  border-radius: 5px;
  width: 100px;
  height: 150px;
  margin-right: 5px;
  margin-bottom: 5px;
  text-align: center;
  box-shadow: 1px 1px 2px #ccc;
  transition: transform 200ms ease-in-out;
}

#stuff li:hover {
  box-shadow: 2px 2px 3px #bbb;
  transform: translate3d(-1px, -1px, 0);
}

#stuff li h3 {
  font-size: 1.1rem;
  margin: 5px;
}

#stuff li img {
  width: 50%;
  margin-top: 10px;
}

.price {
  font-size: 0.9rem;
  position: absolute;
  bottom: 0;
  left: 0; 
  right: 0;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.price button {
  transition: color 200ms ease-in-out;
}
.price button:hover {
  background: #aaa;
  color: white;
}
